[user]
email = lambdasawa@gmail.com
name = Tsubasa Irisawa

[init]
defaultBranch = main

[push]
autoSetupRemote = true

[include]
path = ~/.config/git/alias
path = ~/.config/git/ghq
path = ~/.config/git/delta
path = ~/.config/git/difftastic
