golang 1.18.4
rust 1.62.1
java openjdk-17
nodejs 18.7.0
python 3.10.5
ruby 3.1.2
terraform 1.2.6
flutter 3.0.5-stable
mysql 8.0.29
tflint 0.39.0
aws-vault 6.6.0
awscli 2.7.19
golangci-lint 1.47.2
jq 1.6
