export TWITTER_BEARER_TOKEN="$(op read op://lambdasawa-sandbox/twitter/op/bearer)"
export TWITTER_API_KEY="$(op read op://lambdasawa-sandbox/twitter/op/api-key)"
export TWITTER_API_KEY_SECRET="$(op read op://lambdasawa-sandbox/twitter/op/api-key-secret)"
export TWITTER_ACCESS_TOKEN="$(op read op://lambdasawa-sandbox/twitter/op/access-token)"
export TWITTER_ACCESS_TOKEN_SECRET="$(op read op://lambdasawa-sandbox/twitter/op/access-token-secret)"
