#!/bin/bash

# local variable
REPOSITORY_ROOT="$(git rev-parse --show-toplevel)"

# default value
export AWS_REGION="ap-northeast-1"
export PROJECT="express-typescript-lambda-terraform-example"
export REPOSITORY_ROOT

# load .env file
dotenv_if_exists .env

# check .env file
env_vars_required STAGE IP_WHITELIST ALARM_SNS_TOPIC_ARN WEBHOOK_SIGNATURE_SECRET

# for .tf files
export TF_BACKEND_BUCKET="${PROJECT:?}-${STAGE:?}"
export TF_BACKEND_KEY="terraform.tfstate"
export TF_VAR_project="${PROJECT:?}"
export TF_VAR_stage="${STAGE:?}"
export TF_VAR_repository_root="${REPOSITORY_ROOT:?}"
export TF_VAR_ip_whitelist="${IP_WHITELIST:?}"
export TF_VAR_alarm_sns_topic_arn="${ALARM_SNS_TOPIC_ARN:?}"
export TF_VAR_webhook_signature_secret="${WEBHOOK_SIGNATURE_SECRET:?}"
